# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride
.idea

# Thumbnails
._*

# Directories potentially created on remote AFP share
node_modules
.package.lock
.yarn.lock

# example ignores
examples/react-example/node_modules
examples/react-example/.pnp
examples/react-example/.pnp.js
examples/react-example/coverage
examples/react-example/build
examples/react-example/.DS_Store
examples/react-example/.env.local
examples/react-example/.env.development.local
examples/react-example/.env.test.local
examples/react-example/.env.production.local
examples/react-example/npm-debug.log*
examples/react-example/yarn-debug.log*
examples/react-example/yarn-error.log*
