body {
    background-color: #f0f2f5;
}

#root {
    background-image: url(initbg.svg);
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
}

header .logo {
    width: 300px;
    margin: auto;
}

header .logo img {
    max-width: 300px;
}

header .logo .title {
    color: #0a58ca;
}

.container {
    margin: auto;
}

.btn-secondary {
    border-radius: 0 0 8px 8px;
    border-color: #1890ff;
    background: #1890ff;
    color: #fff;
    box-shadow: unset !important;
}

.btn-secondary:hover, .btn-secondary:focus {
    color: #fff;
    border-color: #40a9ff;
    background: #40a9ff;
    outline: unset !important;
}

.btn-secondary:active {
    color: #fff;
    border-color: #096dd9;
    background: #096dd9;
}

.configuration {
    padding: 0;
    border: 2px solid #1890ff;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.examples {
    position: relative;
    border: 4px solid #007aff45;
}

.example-box {
    width: 60%;
    position: relative;
}

.examples-props {
    background-color: #ebf1f5;
}

.examples-props > h3 {
    font-size: 1.25rem;
}

@media only screen and (max-width: 360px) {
    .container {
        margin: 1.5rem 0;
    }
}