body {
    background-color: #f5f8fa;
}

.examples {
    position: relative;
    border: 4px solid #007aff45;
}

.example-box {
    width: 60%;
    position: relative;
}

.examples-props {
    background-color: #ebf1f5;
}

.examples-props>h3 {
    font-size: 1.25rem;
}

@media only screen and (max-width: 360px) {
    .example-box {
        width: 90%;
    }
}