body {
    background-color: #f5f8fa;
}

.examples {
    position: relative;
}

.example-box {
    width: 60%;
    position: relative;
}

.examples-props {
    background-color: #ebf1f5;
}

.examples-props>h3 {
    font-size: 1.25rem;
}
