/*!
 * Bootstrap5 Toast v1.0.0
 * 
 * Copyright 2021 Nawafinity.
 *
*/
$prefix: "bootstrap5-toast";

$spaces: 5, 10, 15, 20;

.#{$prefix} {
    &-container {
        display: none;
        transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

        &:is(.show) {
            display: block;

            .toast {
                display: block;
                opacity: 1;
            }
        }
    }

    &-top {
        top: -155px;
    }

    &-bottom {
        bottom: -155px;
    }

    @each $space in $spaces {
        &-start-#{$space} {
            left: $space + px;

            [dir=rtl] & {
                left: unset;
                right: $space + px;
            }
        }

        &-end-#{$space} {
            right: $space + px;

            [dir=rtl] & {
                right: unset;
                left: $space + px;
            }
        }
    }

    @media only screen and (max-width: 360px) {

        &-start,
        &-end {
            margin-left: 0;
            margin-right: 0;
            left: 0;
            right: 0;

            .toast {
                margin: auto;
            }
        }
    }
}